@page "/"

<PageTitle>Home</PageTitle>

<section class="landingpage-section top-section relative">
    <div class="section-background-container">
        <div class="main-section-background d-flex flex-column justify-end">
            <div class="stripe">
            </div>
            <div class="stripe-background">
            </div>
        </div>
    </div>
    <MudContainer MaxWidth="MaxWidth.Large" Class="custom-padding">
        <MudGrid Spacing="0" Class="justify-center">
            <MudItem Class="relative d-flex flex-column justify-start" lg="6" md="12">
                <MudText Typo="Typo.h3" Align="Align.Start">
                    My name is Jonah Eck
                </MudText>
                <div class="custom-divider"/>
                <MudText Typo="Typo.h4" Align="Align.Start">
                    I like web development and learning new technologies. Feel free to check out my website and contact me if you want more information
                </MudText>
                <MudText Typo="Typo.h4" Align="Align.Start">
                    
                </MudText>
            </MudItem>
            <MudItem Class="relative d-flex justify-center" lg="6" md="12">
                <div class="profile-background d-flex justify-center">
                    <MudImage ObjectFit="ObjectFit.Contain" Src="/images/Profetional headshot cropped.png" />
                </div>
            </MudItem>
        </MudGrid>
    </MudContainer>
</section>
<section class="landingpage-section">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex flex-column justify-center">
        <MudText Typo="Typo.h1" Align="Align.Center">
            This is some test text
        </MudText>
        <MudContainer MaxWidth="MaxWidth.Small">
            <MudText Typo="Typo.body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </MudText>
            <MudText Typo="Typo.body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </MudText>
        </MudContainer>
    </MudContainer>
</section>




